@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
html body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.ShoppingCart {
  width: 93%;
  height: 90%;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.ShoppingList {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.items {
  padding: 20px 30px;
  height: 200px;
  display: flex;
}
.items:nth-child(4) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.buttons {
  position: relative;
  padding-top: 79px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.like-btn {
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: none;
}

.delete-btn {
  width: 18px;
  height: 17px;
}

.image {
  margin-right: 50px;
}

.description {
  padding-top: 10px;
  margin-right: 175px;
  width: 115px;
}
.description1 {
  padding-top: 10px;
  margin-right: 175px;
  width: 115px;
  margin-left: 48px;
}
.description1 span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}
.description1 span:first-child {
  margin-bottom: 5px;
}
.description1 span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
.remove-btn img {
  margin-bottom: 3px;
}
.add-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
.fill {
  
  outline-color: black;
  border-color: black;
}

